@import "../../styles/variables";

.pin {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: currentColor;
}

.sidenav-header {
    padding: 0 10px !important;
    height: $toolbar-height;
    background-color: var(--blue-400);
}

.sidenav-menu-outer {
    height: calc(100vh - $toolbar-height);
    overflow-y: auto;

    &.user-block-show {
        height: calc(100% - #{$toolbar-height + $sidenav-user-block-height});
    }
}