.text-underline {
    text-decoration: underline !important;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-auto {
    overflow: auto;
}

.word-break {
    word-break: break-word !important;
}

.display-inline-block {
    display: inline-block;
}