<section style="background-color: #eee;">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 px-4 py-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Admin</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold fs-6">Nhập mật khẩu cũ</p>
              </div>
              <div class="col-sm-9">
                <input type="password" formControlName="oldPassword" class="form-control"
                  placeholder="Nhập mật khẩu cũ"
                  [(ngModel)]="userChangePassword.oldPassword"
                />
                <div
                  *ngIf="submitted && form.controls.oldPassword.status == 'INVALID'"
                  class="alert alert-danger mt-2 py-0">
                  <div *ngIf="form.controls.oldPassword.errors?.['required']">
                    Không được bỏ trống trường này
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold fs-6">Nhập mật khẩu mới</p>
              </div>
              <div class="col-sm-9">
                <input type="password" formControlName="newPassword" class="form-control"
                  placeholder="Nhập mật khẩu mới"
                  [(ngModel)]="userChangePassword.newPassword"
                />
                <div
                  *ngIf="submitted && form.controls.newPassword.status == 'INVALID'"
                  class="alert alert-danger mt-2 py-0">
                  <div *ngIf="form.controls.newPassword.errors?.['required']">
                    Không được bỏ trống trường này
                  </div>
                  <div *ngIf="form.controls.newPassword.errors?.['invalidPassword']">
                    Mật khẩu không hợp lệ
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-bold fs-6">Xác nhận mật khẩu</p>
              </div>
              <div class="col-sm-9">
                <input type="password" formControlName="confirmPassword" class="form-control"
                  placeholder="Xác nhận mật khẩu"
                  [(ngModel)]="userChangePassword.confirmPassword"
                />
                <div
                  *ngIf="submitted && form.controls.confirmPassword.status == 'INVALID'"
                  class="alert alert-danger mt-2 py-0">
                  <div *ngIf="form.controls.confirmPassword.errors?.['required']">
                    Không được bỏ trống trường này
                  </div>
                  <div *ngIf="form.controls.confirmPassword.errors?.['mismatchedPasswords']">
                    Mật khẩu không trùng khớp
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 pt-3 mt-2 pb-2 d-flex justify-content-center">
                <button class="btn btn-primary btn-block fa-lg gradient-custom__btn__login  px-3 py-3 mb-2 me-3" type="submit">Cập nhật</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
