<form>
<div class="card mx-3 mt-3">
  <div class="card-header">
    <div class="mb-2 mt-2 row">
      <label for="table-complete-search" class="col-md-1 col-sm-6 col-form-label">Tìm kiếm</label>
      <div class="col-md-3 col-sm-6">
        <input
          type="text"
          class="form-control"
          name="keyword"
          [(ngModel)] = "keyword"
          (ngModelChange)="Search()"

        />
      </div>
      <div class="col-md-8 col-sm-12 justify-content-end d-flex">
        <a class="btn btn-primary" href="/categories/create">Thêm danh mục</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <caption>Bảng dữ liệu danh mục</caption>
      <thead>
        <tr>
          <th scope="col" class="col-4" (click)="Sort('name')">Tên &nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" class="col-5">Mô tả</th>
          <th scope="col" class="col-1"></th>
          <th scope="col" class="col-1 text-center">Hành động</th>
          <th scope="col" class="col-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of filteredCategories | orderBy: key: reverse | paginate: {itemsPerPage: 10,currentPage: p};">
          <td>
            <ngb-highlight [result]="category.name"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="category.description"></ngb-highlight></td>
          <td><a disabled class='fas fa-eye d-flex justify-content-center' style='font-size:20px;color:blue'></a></td>
          <td><a
            disabled
            class='fas fa-edit d-flex justify-content-center'
            style='font-size:20px;color:blue'
            href='categories/update?id={{category.id}}'></a></td>
          <td><a disabled class='fas fa-trash-alt d-flex justify-content-center' style='font-size:20px;color:red'></a></td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</div>
</form>
