<div class="card mx-3 mt-3">
  <div class="card-header">
    <div class="mb-2 mt-2 row">
      <label
        for="table-complete-search"
        class="col-md-3 col-sm-6 col-form-label"
        style="font-size: 1.5rem">Sửa vai trò</label>
      <div class="col-md-3 col-sm-6">
      </div>
      <div class="col-md-6 col-sm-12 justify-content-end d-flex">
        <a class="btn btn-primary" href="/roles">Danh sách vai trò</a>
      </div>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold fs-6">Tên vai trò</p>
        </div>
        <div class="col-sm-9">
          <input type="text" formControlName="name" class="form-control"
            [ngModel]="role.name"
            placeholder="Tên danh mục"
          />
          <div
            *ngIf="submitted && form.controls.name.status == 'INVALID'"
            class="alert alert-danger mt-2 py-0">
            <div *ngIf="form.controls.name.errors?.['required']">
              Không được bỏ trống trường này
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0 fw-bold fs-6">Mô tả</p>
        </div>
        <div class="col-sm-9">
          <textarea
            formControlName="description"
            class="form-control"
            [ngModel]="role.description"
            placeholder="Mô tả"
          >
          </textarea>
        </div>
      </div>
      <hr>
      <div class="overflow-auto h-50">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0 fw-bold fs-6">Quyền</p>
          </div>
          <div class="col-sm-9">
          </div>
        </div>
        <div class="ms-4">
            <p class="mb-0 fw-bold fs-6">Danh mục</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of categoryPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Sản phẩm</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of productPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Cơ bản</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of basicPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Giỏ hàng</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of cartPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Vai trò</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of rolePermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Phân quyền</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of permissionPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Người dùng</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of userPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Chi nhánh</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of branchPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Phản hồi</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of feedBackPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
        <div class="ms-4">
          <p class="mb-0 fw-bold fs-6">Nguồn gốc</p>
        </div>
        <div class="row form-check form-switch ms-5"  *ngFor="let permission of originPermissions">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isChecked(permission.id)"
              (change)="handleChangePermission(permission.id)"
            >
            <label class="form-check-label" for="flexSwitchCheckDefault">{{permission.name}}</label>
        </div>
      </div>
    </div>
  <div class="card-footer">
    <button [disabled]="!inputChanged" class="btn btn-primary btn-block fa-lg gradient-custom__btn__login  px-3 py-4 mb-3 me-3" type="submit">Lưu</button>
  </div>
</form>
</div>
