<app-product-log-dialog
  *ngIf="displayDialog"
  [display]="displayDialog"
  [branches]="branchOptions"
  [products]="productOptions"
  [productId]="selectedId"
  [branchId]="branchId"
  (closeDialog)="onHideDialog($event)">
</app-product-log-dialog>
<p-confirmDialog #cd [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" class="p-button-outlined p-button-info" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
<div class="col p-4 data-table">
    <div class="flex flex-row pb-3 justify-content-between align-items-center">
        <h2 class="m-0">Quản lí sản phẩm của chi nhánh</h2>
        <button *ngIf="canImport" pButton pRipple type="button" label="Nhập kho" class="p-button-success" (click)="openDialog(null)"></button>
    </div>
    <p-toolbar styleClass="mb-4 d-flex flex-row justify-content-start">
      <div class="field col-3">
        <label for="branchId" class="block form-label">Chi nhánh</label>
        <p-dropdown [(ngModel)]="branchId" [options]="branchOptions" placeholder="Chọn chi nhánh" [style]="{'width':'100%'}"
                    aria-describedby="origin-help" optionLabel="address" optionValue="id"
                    [filter]="true" filterBy="address" (onChange)="onChangeBranch($event)"
                    [showClear]="true"
        >
        </p-dropdown>
      </div>
      <div class="field col-3 ml-3">
        <label for="query" class="block form-label">Tìm kiếm</label>
        <input pInputText id="query" type="text" [(ngModel)]="query"
                aria-describedby="code-help" class="w-full" />
      </div>
      <div class="field ml-auto p-2">
        <button type="button" pButton class="p-button-outlined p-button-info" label="Tìm kiếm" (click)="fetchProductsOfBranches()"></button>
      </div>
    </p-toolbar>
    <p-table [value]="products" responsiveLayout="scroll" styleClass="w-full p-datatable-gridlines p-datatable-striped mt-2"
                [lazy]="true" [paginator]="true" [rows]="limit" [totalRecords]="totalData"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 15, 20]"
                (onPage)="paginate($event)">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th scope="col-5">Tên sản phẩm</th>
                <th scope="col-1">Giá</th>
                <th scope="col-1">Đơn vị tính</th>
                <th scope="col-1">Số lượng</th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.product.name}}</td>
                <td>{{product.product.price | currency:'VND'}}</td>
                <td>{{product.product.unit}}</td>
                <td>{{product.quantity}}</td>
                <td style="text-align: center;">
                  <button *ngIf="canImport" pButton pRipple icon="pi pi-pencil"
                          class="p-button-info m-1"
                          (click)="openDialog(product.product.id)">
                  </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
