<p-dialog [(visible)]="isVisible" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [maximizable]="true" [modal]="true">
    <ng-template pTemplate="header">
        <h1><span *ngIf="!origin.id">Add</span><span *ngIf="origin.id">Edit</span> origin</h1>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="form">
            <div class="flex flex-column flex-1 form">
                <div class="field">
                    <label for="name" class="block form-label">Xuất sứ</label>
                    <input pInputText id="name" type="username" placeholder="Origin" maxlength="100"
                            aria-describedby="code-help" class="w-full" formControlName="name" [class.ng-dirty]="form.controls.name.touched"/>
                    <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
                        <small *ngIf="form.controls.name.errors?.required" id="name-help" class="p-error block">Origin name is required.</small>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex flex-row justify-content-end align-items-center form-actions">
            <button pButton pRipple [disabled]="!form.valid" class="form-button"
                    (click)="close(form.value)">
                <span *ngIf="!origin.id">
                    Save
                </span>
                <span *ngIf="origin.id">
                    Update
                </span>
            </button>
            <button pButton pRipple type="button" class="p-button-danger form-button" 
                    (click)="close(null)">
                Cancel
            </button>
        </div>
    </ng-template>
</p-dialog>