<app-permissions-dialog *ngIf="displayDialog" [display]="displayDialog" [modules]="moduleOptions"
                        [Id]="selectedId" (closeDialog)="onHideDialog($event)">
</app-permissions-dialog>
<p-confirmDialog #cd [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" class="p-button-outlined p-button-info" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
<div class="col p-4 data-table">
    <div class="flex flex-row pb-3 justify-content-between align-items-center">
        <h2 class="m-0">Quyền</h2>
        <button *ngIf="canAdd" pButton pRipple type="button" label="Create" class="p-button-success" (click)="openDialog(null)"></button>
    </div>
    <p-toolbar styleClass="mb-4">
      <div class="field col-3">
        <label for="moduleId" class="block form-label">Module</label>
        <p-dropdown [(ngModel)]="moduleId" [options]="moduleOptions" placeholder="Chọn module" [style]="{'width':'100%'}"
                    aria-describedby="origin-help" optionLabel="name" optionValue="id"
                    [filter]="true" filterBy="name" (onChange)="onChangeModule($event)"
                    [showClear]="true"
        >
        </p-dropdown>
      </div>
    </p-toolbar>
    <p-table [value]="permissions" responsiveLayout="scroll" styleClass="w-full p-datatable-gridlines p-datatable-striped mt-2"
                [lazy]="true" [paginator]="true" [rows]="limit" [totalRecords]="totalData"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 15, 20]"
                (onPage)="paginate($event)">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th scope="col">Tên</th>
                <th scope="col">Module</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Đang hoạt động</th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-permission>
            <tr>
                <td>
                    <p-tableCheckbox [value]="permission"></p-tableCheckbox>
                </td>
                <td>{{permission.name}}</td>
                <td>{{permission.module}}</td>
                <td>{{permission.description}}</td>
                <td>
                  <em *ngIf="permission.isActive" class="pi pi-check"></em>
                  <em *ngIf="!permission.isActive" class="pi pi-times"></em>
                </td>
                <td style="text-align: center;">
                    <button *ngIf="canUpdate" pButton pRipple icon="pi pi-pencil"
                            class="p-button-warning m-1"
                            (click)="openDialog(permission.id)">
                    </button>
                    <button *ngIf="permission.isActive && canUpdate" pButton pRipple icon="pi pi-lock"
                            class="p-button-warning m-1"
                            (click)="openInActiveDialog(permission.id)">
                    </button>
                    <button *ngIf="!permission.isActive && canUpdate" pButton pRipple icon="pi pi-unlock"
                            class="p-button-warning m-1"
                            (click)="openActiveDialog(permission.id)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
