<p-dialog [(visible)]="isVisible" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [maximizable]="true" [modal]="true" [contentStyle]="{'overflow-y':'visible'}">
    <ng-template pTemplate="header">
        <h1><span *ngIf="!trademark.id">Add</span><span *ngIf="trademark.id">Edit</span> trademark</h1>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="form">
            <div class="flex flex-column flex-1 form">
                <div class="field">
                    <label for="name" class="block form-label">Name</label>
                    <input pInputText id="name" type="username" placeholder="Trademark name" maxlength="100"
                            aria-describedby="code-help" class="w-full" formControlName="name" [class.ng-dirty]="form.controls.name.touched"/>
                    <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
                        <small *ngIf="form.controls.name.errors?.required" id="name-help" class="p-error block">Trademark is required.</small>
                    </div>
                </div>
                <div class="field">
                    <label for="orgin" class="block form-label">Origin</label>
                    <p-dropdown id="origin" [options]="origins" placeholder="Select a origin" [style]="{'width':'30%'}"
                                aria-describedby="origin-help" optionLabel="name" optionValue="id"
                                [filter]="true" filterBy="name"
                                formControlName="originId" [class.ng-dirty]="form.controls.originId.touched">
                    </p-dropdown>
                    <div *ngIf="form.controls.originId.invalid && (form.controls.originId.dirty || form.controls.originId.touched)">
                        <small *ngIf="form.controls.originId.errors?.required" id="origin-help" class="p-error block">Origin is required.</small>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex flex-row justify-content-end align-items-center form-actions">
            <button pButton pRipple [disabled]="!form.valid" class="form-button"
                    (click)="close(form.value)">
                <span *ngIf="!trademark.id">
                    Save
                </span>
                <span *ngIf="trademark.id">
                    Update
                </span>
            </button>
            <button pButton pRipple type="button" class="p-button-danger form-button" 
                    (click)="close(null)">
                Cancel
            </button>
        </div>
    </ng-template>
</p-dialog>